<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create scene</title>
</head>
<body>
    <form action="/create-scene" method="post">
        <input type="text" name="scenename" placeholder="Scene Name">
        <button type="submit">Create Scene.</button>
    </form>
</body>
</html>